venv/
.venv/
env/

.env

backend/chroma_db/
backend/chroma_db/**

__pycache__/
**/__pycache__/
*.py[cod]
*$py.class

data/tmdb_5000_movies.csv

!data/.gitkeep

.DS_Store
Thumbs.db

.vscode/
.idea/

*.log